section
  .post
    div
     .component
      h3
      {{post.title}}
      div {{post.text}}
      br
      br
      a(href='/#/home/') Back
      | -
      a(href='/#/editPost/{{post.title | nospace}}') Edit
      | -
      a(href='/#/removePost/{{post.title | nospace}}') Delete