li(ng-repeat="post in posts")
    .post
      div
        h3{{post.title}}
        h6(ng-bind-html="post.text")
        a(href='/#/readPost/{{post.title | nospace}}') More
    img( class="img-scroller",src="img/applz.png", du-parallax, y="background", alt="", style="float: right")


