p
    li(ng-repeat="post in posts")
        .post
         div
          .component
              h3{{post.title}}
              div(ng-bind-html="post.text")//{{post.text}}
              br
              br
              a(href='/#/readPost/{{post.title | nospace}}') More
              | -
              a(href='/#/editPost/{{post.title | nospace}}') Edit
              | -
              a(href='/#/removePost/{{post.title | nospace}}') Delete