.post
  div
   .component
       h2 {{post.title}}
       {{post.text}}
       p
        | Are you sure you want to delete this post?
        button(ng-click='deletePost()') Yes

        button(ng-click='home()') No thanks