.post
  div
   .component
    h2 Edit post
    label(for='title') Title:
    input(ng-model='form.title', name='title')
    text-angular(ng-model="form.text")
    p
        button(ng-click='editPost()') Edit Post