.post
 div
  .component
    p I am a creative system developer with a wide range of experience. My skills range from Hardware and processor design to Software and Web applications. I have a flaming interest in Leadership, Organization and most of all Learning.

    p I am always looking for opportunities to develop new skills and improve my business sense and communication skills.
