extends layout


block body
    .center( style="opacity: {{opacity}}")
      h1
        |David Karlsson
      h4(style="color: white")
        |Developer & Artist
      div(class="circular")
         img(src="./image/face.png", alt="", scroll-fade)
         //{{opacity}}
    header
      .navbar
       if(loggedIn)

        .container
          ul.menu.nav.nav-pills
            li
              a(href='#/home') Develop David
            li
              a(href='#/cv') Curriculum Vitae
            li
              a(href='#/apps') Appstore
            li
              a(href='#/addPost') Add Post
            li(style="float: right;")
              a(href='/logout') Logout







      .container
      div(ng-view)
    .footer
      a(href='/#/administrator/') David Karlsson © 2014

