extends layout

block body
  header
    .navbar
      .container
        ul.menu.nav.nav-pills
          li
            a(href='#/home') Develop David
          li
            a(href='#/cv') Curriculum Vitae
          li
            a(href='#/apps') Appstore





  .container
      div(ng-view)
  .footer
      a(href='/#/administrator/') David Karlsson © 2014

