doctype html5
html(ng-app='developdavid')
  head
    meta(charset='utf8')
    base(href='/')
    title Develop David
    
    link(rel='stylesheet', href='/css/app.css')
  body
    block body

    script(src='/js/app.min.js')
