doctype html5
html(ng-app='developdavid')
  head
    meta(charset='utf8')
    base(href='/')
    title Develop David
    
    link(rel='stylesheet', href='/css/app.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')

    body
    block body

    script(src='/js/app.min.js')
